
<form method="get" asp-action="Index">
    <div class="row mb-3">
        <div class="col-md-3">
            <input type="date" name="searchDate" class="form-control" />
        </div>
        <div class="col-md-3">
            <input type="text" name="phone" placeholder="Phone Number" class="form-control" />
        </div>
        <div class="col-md-3">
            <input type="text" name="opNumber" placeholder="OP Number" class="form-control" />
        </div>
        <div class="col-md-3">
            <button type="submit" class="btn btn-primary w-100">Search</button>
        </div>
    </div>
</form>